Package: com.moudydee.myblack
Name: myblack
Version: 1.9
Architecture: iphoneos-arm
Description: an example of using APT
 Every day people use Cydia, but with the
 instructions embodied in this package,
 people can publish for it as well.
Homepage: http://www.saurik.com/id/7
Depiction: http://www.saurik.com/id/7
Maintainer: moudydee <moudydee@hotmail.com>
Author: moudydee <moudydee@hotmail.com>
Sponsor: Microsoft <http://www.microsoft.com/>
Section: Theme (anemone)
